ul {
    padding: 0;
}

li {
    list-style-type: none;

    margin: 2vw 2vw 2vw 2vw;
}


.card {
    font-weight: 700;
    height: auto;
    min-height: 40vh;
    min-width:20vw;
    width: 25vw;
    /*min-width: 400px;*/
    position: relative;
    border-radius: 5%;
}

.card-list {
    margin: 20px 0;
    font-size: 20px;
}

.card-list li {
    display: flex;
    align-items: center;
    margin: 10px;
}

.card img{
    max-width: 100% ;
    height: 10em;
    /*max-height: 10em;*/
    /*min-height: 10em;*/
    /*min-height: 8em;*/
    object-fit: fill;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    /*background-color: aqua;*/
    /*margin-bottom: 1.5em;*/
    /*border-radius: 100%;*/
    /*box-shadow: $shadow;*/
}

.card-list svg {
    margin-right: 10px;
}



.card-list a {
    font-weight: 500;
    color: inherit;
}

.card {
    margin: 10px 0;
    min-width: 20vw;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px grey;
}

.card-image{
    width: auto;
    max-width: 100%;
    height: 20vh;
    object-fit: contain;
    border-radius: 3px;
    margin: 0 auto;
    display: block;
}

.card-list ul li{
    display: inline-flex;
}

/*.card a {*/
/*    text-decoration: none;*/
/*}*/

/*.card img {*/
/*    margin-bottom: 8px;*/
/*}*/

@media screen and (max-width: 900px){
    .card {
        width: 80vw;
        height: 50vh;
    }

    .card img{
        height: 20vh;
    }

    .card h3{
        font-size: 2rem;
    }
}